<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="{{ asset('assets') }}/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/about">Aboutus</a></li>
                    {#<li><a href="blog-home.html">FAQ</a></li>#}

                    <li><a href="/contact"><i class="icon-envelope-alt"></i> Contact</a></li>


                    {% if app.user %}
                        <li>
                            <a href="/user"><img src="{{ asset('uploads/images/' ~ app.user.image) }}" style="height: 30px"> {{   app.user.name }} {{ app.user.surname }}</a>
                        </li>

                        <li><a href="/logout">Logout</a> </li>
                    {% else %}
                        <li>
                            <a href="/loginuser"><i class="icon-lock"></i>Login </a>
                        </li>
                    {% endif %}


                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->