<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href="#"><i class="fa fa-home"></i> Rezervations <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/admin/reservation/New">New<span class="right badge badge-danger">New</span></a></li>
                    <li><a href="/admin/reservation/Accepted">Accepted</a></li>
                    <li><a href="/admin/reservation/Canceled">Canceled</a></li>
                    <li><a href="/admin/reservation/Completed">Completed</a></li>

                </ul>
            </li>

            <li><a href="/admin/category"><i class="fa fa-navicon"></i>Category</a></li>
            <li><a href="/admin/car"><i class="fa fa-car" ></i> Cars </a></li>
            <li><a href="/admin/user"><i class="fa fa-user" ></i> Users </a></li>
            <li><a href="/admin/messages"><i class="fa fa-envelope-o" ></i> Contact Form Messages </a></li>
            <li><a href="/admin/comment"><i class="fa fa-comments-o" ></i> User Comments </a></li>

        </ul>
    </div>
    <div class="menu_section">
        <h3>GENERAL</h3>
        <ul class="nav side-menu">
            <li><a href="{{ path('setting_index') }}"><i class="fa fa-bug"></i> Settings</a></li>

            <li><a href="page_403.html">403 Error</a></li>
            <li><a href="page_404.html">404 Error</a></li>
            <li><a href="page_500.html">500 Error</a></li>
            </li>

        </ul>
    </div>

</div>
<!-- /sidebar menu -->

