{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile {% endblock %}

{% block body %}


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        User Profile
                    </h1>
                    <p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-home.html"> Blog Home</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start blog-posts Area -->
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">
                {{ include('user/usermenu.html.twig') }}


                <div class="col-lg-4 sidebar">
                    <div class="post-heading">

                        <h3><a href="#">User Cars List</a> </h3>

                    </div>


                    <div class="single-widget category-widget">
                        <ul>

                            My Cars

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- End blog-posts Area -->


{% endblock %}

