<div class="span4">

    <div class="single-widget category-widget">
        <h4 class="title"> User Menu </h4>
        <img src="{{ asset('uploads/images/' ~ app.user.image) }}" style="height: 80px" alt="User Image" class="img-circle profile_img">
        {{ app.user.name }} {{ app.user.surname }}
        <ul>
            <li><a href="/user" class="justify-content-between align-items-center d-flex"><h6>My Profile</h6> </a></li>
            <li><a href="/user/car" class="justify-content-between align-items-center d-flex"><h6>My Cars</h6> </a></li>
            <li><a href="/user/comments" class="justify-content-between align-items-center d-flex"><h6>My Comments</h6> </a></li>
            <li><a href="/user/reservations" class="justify-content-between align-items-center d-flex"><h6>My Reservations</h6> </a></li>
            <li><a href="/logout" class="justify-content-between align-items-center d-flex"><h6>Logout</h6> </a></li>
        </ul>
    </div>


</div>